@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    position: relative;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #002388;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 0px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.logo a{
    text-decoration: none;
    text-align: center;
}
.logo a img {
    width: 150px;
}


.navigation ul{
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.container-temas{
    width: 100%;
    max-width: 650px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}
.content-temas{
    padding: 20px;
}


.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {

    background-color: rgba(7, 10, 241, 0.863);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color:#001f70;;
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle, .header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

.hero {
    min-height: 100vh;
    background-image: url("imagenes/upds.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 200px;
}


.hero-content {
    text-align: center;
    color: white;
    padding: 20px;
    background-color:rgb(0, 35, 136, 0.6) ;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    margin-top:-500px;
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-hero {
    padding: 12px 25px;
    background-color: #1606ee;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-hero:hover {
    background-color: #3d32df;
}


.services {
    padding: 60px 10%;
    text-align: center;
    background-color: #f8f9fa;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #002388;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: #1606ee;
    margin-bottom: 15px;
}

.card p {
    font-size: 1rem;
    color: #555;
}


.benefits {
    padding: 60px 10%;
    background-color: white;
    text-align: center;
}

.benefits h2 {
    color: #002388;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.benefit-list {
    list-style: none;
    font-size: 1.2rem;
    color: #555;
    padding: 0;
}

.benefit-list li {
    margin-bottom: 15px;
}


.testimonials {
    background-color: #f1f1f1;
    padding: 60px 10%;
    text-align: center;
}

.testimonials h2 {
    color: #002388;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.testimonial {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

.testimonial p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-size: 1.1rem;
    color: #1606ee;
}


.footer {
    background-color: #002388;
    color: white;
    text-align: center;
    padding: 20px 10%;
    font-size: 1rem;
}


#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked~.container-modal {
    display: none;
}

.content-modal {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.content-modal h2 {
    text-align: center;
    margin-bottom: 15px;
}

.content-modal img {
    padding: 5px 5px;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.btn-cerrar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-cerrar label {
    padding: 7px 10px;
    background-color: #1606ee;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cerrar label:hover {
    background-color: #3d32df;
}

.cursos {
  padding: 60px 10%;
  background-color: #f5f5f5;
  text-align: center;
}

.contenedor-cursos h2 {
  font-size: 2.5em;
  margin-bottom: 200px;
  color: #002388;
   z-index: 10; 
}

#btn-cursos {
  padding: 12px 25px;
  background-color: #002388;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}

#btn-cursos:hover {
  background-color: #3d32df;
}

.cards-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  z-index: 10; 
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #002388;
}

.card p {
  font-size: 1em;
  margin-bottom: 15px;
  color: #333;
}

.card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #002388;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #3d32df;
}


@media (max-width: 950px) {
  .cards-cursos {
    flex-direction: column;
    align-items: center;
  }
  .contenedor-cursos h2 {
    font-size: 2em;
  }
    .header label {
    display: initial;
    }
    .header{
        padding: 15px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
	background-color:#001f70;
        display: none;
    }

    .header .navigation ul li{
        width: 100%;
    }
    .header .navigation ul li a:hover {

    background-color: rgba(7, 10, 241, 0.863);
    }
    .header .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li{
        background-color:#001f70;
    }
    .header .navigation ul li ul li ul{
        background-color:#001f70;
        position: relative;
        width: 100%;
        left: 0;
    }
    
    .header .navigation ul li ul li ul li{
    background-color:#001f70
    }

    #toggle:checked ~ .navigation{
        display: block;
    }
    .content-modal{
        width: 90%;
    }
    .content-modal img {
    width: 100%;
    padding: 5px 5px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    }
    .cards-cursos {
    flex-direction: column;
    align-items: center;
    }
    .header label {
    display: initial;
    }
    .hero-content{
        width: 95%;
    }
}